<!DOCTYPE html>
<html>
	<head>
	  <title>Books Online Store</title>
	  <%= stylesheet_link_tag    "depot", :media => "all" %>
	  <%= stylesheet_link_tag    "scaffolds"%>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body id="store">
		<div id="banner">
			<%= image_tag "logo.png" %>
			<%= @page_title || "Programatic Bookshell"%>
		</div>

		<div id="columns">
			<div id="side">

				<div id="cart">
					<%= render @cart %>
				</div>

				<a href="#">Home</a><br />
				<a href="#">Questions</a><br />
				<a href="#">News</a><br />
				<a href="#">Contact</a><br />

				<% if session[:user_id] %>
					<br />
					<%= link_to 'Orders', orders_path %><br />
					<%= link_to 'Products', products_path %><br />
					<%= link_to 'Users', users_path %><br />
					<br />
					<%= button_to 'Logout', logout_path, :method => :delete %>
				<% end %>
			</div>

		</div>

	<div id="main">
		<%= yield %>
	</div>

	</body>
</html>
