<!DOCTYPE html>
<html>
	<head>
	  <title>Books Online Store</title>
	  <%= stylesheet_link_tag    "depot", :media => "all" %>
	  <%= stylesheet_link_tag    "scaffold"%>
	  <%= javascript_include_tag "defaults" %>
	  <%= csrf_meta_tags %>
	</head>
	<body id="store">
		<div id="banner">
			<%= image_tag "logo.png" %>
			<%= @page_title || "Programatic Bookshell"%>
		</div>

		<div id="columns">
			<div id="side">
				<a href="#">Home</a>
				<a href="#">Questions</a>
				<a href="#">News</a>
				<a href="#">Contact</a>
			</div>

		</div>

	<div id="main">
		<%= yield %>
	</div>

	</body>
</html>
